* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Hanken Grotesk';
}
:root {
    --lightRed: hsla(0, 100%, 67%, .1);
    --orangeyYellow: hsl(39, 100%, 56%);
    --greenTeal: hsl(166, 100%, 37%);
    --cobaltBlue: hsl(234, 85%, 45%);
    --lightSlateBlue: hsl(252, 100%, 67%);
    --lightRoyalBlue: hsl(241, 81%, 54%);
    --violetBlue: hsla(256, 72%, 46%, 1);
    --persianBlue: hsla(241, 72%, 46%, 0);
    --white: hsl(0, 0%, 100%);
    --paleBlue: hsl(221, 100%, 96%);
    --lightLavender: hsl(241, 100%, 89%);
    --darkGreyBlue: hsl(224, 30%, 27%);
}
main {
    height: 55rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 4rem auto;
    background-color: var(--white);
    border: none;
    border-radius: 4rem;
    box-shadow: 1rem 1rem 1rem .5rem var(--lightLavender);
}
.main-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2.4rem;
    background-image: linear-gradient(var(--lightSlateBlue), var(--lightRoyalBlue));
    width: 75rem;
    height: 100%;
    border: none;
    border-radius: 4rem;
}
.main-result h1 {
    font-size: 2.4rem;
    font-weight: 700;
}
.main-result .result-circle {
    width: 20rem;
    height: 20rem;
}
.main-result .result-circle p:nth-child(1) {
    font-size: 8rem;
}
.main-result .result-circle p:nth-child(2) {
    font-size: 2rem;
}
.main-result .statistics h2 {
    font-size: 3.2rem;
    font-weight: 700;
}
.main-result .statistics p {
    font-size: 1.8rem;
}
.summary h3 {
    font-size: 2.4rem;
    margin-bottom: 3rem;
}
.summary .category {
    height: 6rem;
    margin-bottom: 2rem;
}
.summary .category h4 {
    font-size: 2rem;
}
.summary .category p {
    font-size: 2rem;
}
.summary button {
    height: 6rem;
}